<nav class="nav" style="background-color: #284928; color: #fff7ec;">
  <div class="container">
    <h1 class="logo">
      <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" style="color: #fff7ec; text-decoration: none;">
        {{ site.title_left }}<span>{{ site.title_right }}</span>
      </a>
    </h1>
    <ul class="navbar">
      <li><a href="{{ '/research' | prepend: site.baseurl | prepend: site.url }}" class="nav-link">Research</a></li>
      <li><a href="{{ '/cv' | prepend: site.baseurl | prepend: site.url }}" class="nav-link">CV</a></li>
    </ul>
  </div>
</nav>
